@import "../../partials/reset";
@import "../../partials/common";
@import "../../partials/fontAcronym";
h1,h2,h3,h4,h5,h6{
  font-weight: 100;
}
body{
  font-family: Acronym;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  background-color:#f7f8fb ;
  letter-spacing: 0.5px;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.hamburg{
  float: left;
  width: 30px;
  border: 1px solid #898989;
  padding: 2px;
  border-radius: 6px;
  margin: 13px 10px;
  display: none;
  li{
    width: 100%;
    height: 3px;
    margin: 4px 0;
    border-radius: 8px;
    background-color: #696969;
  }
}
.header{
  h1{
    font-size: 26px;
    text-align: center;
    padding: 20px;

  }
}


.leftNav,.mainContent{
  margin: 0;
  @include boxSizing();
}
.mainContent{
  width: 100%;
  float: left;
  padding: 20px;
}
.leftNav{
  background-color: #124680;
  width: 100%;
  padding: 20px;
  display: block;
  float: left;
}

.tabs{
  width: 100%;
  .tab{
    width: 100%;
    @include boxSizing();
  }
  .tabInfo{
    display: inline-block;
    color: #d1f1f1;
  }
  .tabHead{
    width: 100px;
    display: inline-block;
    @include boxSizing();
    border: 1px solid #ffffff;
    font-size: 12px;
    text-align: center;
    margin: 0 0 0 20px;
    padding: 3px;
    font-size: 12px;
    border-radius: 10px;
    color: #ffffff;
    &.selected{
      border-color: #19ffbf;
    }
  }
}
.error{
  font-size: 20px;
  color: red;

  margin-top: 30px;
  text-align: center;
  padding: 10px;
  float: left;
  width: 100%;

}
.tabContent{
  padding: 10px 0;
  .item{
    width: 20%;
    padding: 10px;
    color: #d1f1f1;
    font-weight: 100;
    display: inline-block;

    @include boxSizing();
  }
  .item.disabled{
    color: #f33333;
    input{
      color: #f33333;
    }
  }
  label{
    display: block;
    span{
      font-weight: 500;
      padding-left: 10px;
      color: #f74343;
      font-size: 12px;
      float: right;
      margin-top: 3px;
    }
  }
}
form{
  input,select{
    @include boxSizing();
    width: 100%;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
    color: #757575;
    border: 0px;
    border-bottom: 1px solid #f1f1f1;
    padding: 0 10px;
    background: transparent;
    font-family: Acronym;
  }
  input:focus,select:focus{
    border-color: #69ff4e;
  }
  button{
    @include boxSizing();
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 0;
    background-color: #d1f1f1;
    color: #333333;
    border: 0px;
  }
}
.main{
  width: 100%;
  @include boxSizing();
  overflow: hidden;
}

.row{
  width: 100%;
  overflow: hidden;
}
.halfWidth{
  width: 50%;
  @include boxSizing();
}
.fullWidth{
  width: 100%;
  @include boxSizing();
}
.fl{
  float: left;
}
.padding10{
  padding: 10px;
}
.sap {
  color: #969494;
}
.sap::before{
  content: '>' ;
  padding: 0 10px;
}
.flightDetail{
  font-size: 14px;
}
.pathInfo{
  text-transform: capitalize;
  margin-bottom: 10px;
}

.timeInfo p{
  margin-bottom: 10px;
}

.mainHead{
  padding: 0 10px;
  margin-bottom: 10px;
}

.flightContent{
  overflow: hidden;
  font-size: 14px;
  color: #151515;
  font-weight: lighter;
  border: 1px solid #898989;
  border-right: 0;
  line-height: 17px;

  .item{
    float: left;
    padding: 10px;
    border-right: 1px solid #898989;
  }
  .row{
    width: 100%;
    overflow: hidden;
    line-height: 19px;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid #c1c1c1;
  }
  p{
    color: #898989;
  }
  h2{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: #333333;
  }
  .items > div:last-child{
    border-bottom: 0;
  }
}
.priceBtn{
  position: absolute;
  width: 100px;
  top: 22px;
  right: 0;
  color: #14920c;
  border: 2px solid #000000;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 767px) {
  .main{
    padding: 0 10px;
  }
  .leftNav{
    position: absolute;
    top: 61px;
    left: 0;
    z-index: 1;
  }
  .header{
    background: #f7f8fb;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 2px 2px 7px rgba(51,51,51,.21);
    h1{
      margin-left: 58px;
      padding-left: 0px;
      font-size: 20px;
    }
  }
  .hamburg{
    display: block;
  }
  .tabContent{
    .item{
      width: 100%;
      font-size: 14px;
      padding: 7px 10px;
    }
    label{
      span{
        font-size: 12px;
      }
    }
  }
  .tabs{
    .tabInfo{
      display: block;
      margin-bottom: 15px;
    }
    .tabHead{
      margin: 0 20px 0 0;
    }
  }
  form{
    input,select{
      font-size: 14px;
      height: 20px;
    }
  }
  .priceBtn{
    position: initial;
    padding: 5px;
    margin-top: 5px;
  }
  .mainContent{
    padding: 20px 0;
  }
  .mainHead{
    padding: 0;
  }
}



