
@font-face {
  font-family: "Acronym";
  font-style: normal;
  font-weight: 300;
  src: url("//img05.static-nextag.com/imagefiles/rebrandmobile2015/fonts/Acronym-Black.otf") format("opentype");
}

@font-face {
  font-family: "Acronym";
  font-style: italic;
  font-weight: lighter;
  src: url("//img05.static-nextag.com/imagefiles/rebrandmobile2015/fonts/Acronym-Light_Italic.otf") format("opentype");
}

@font-face {
  font-family: "Acronym";
  font-style: normal;
  font-weight: bold;
  src: url("//img05.static-nextag.com/imagefiles/rebrandmobile2015/fonts/Acronym-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Acronym";
  font-style: normal;
  font-weight: 500;
  src: url("//img05.static-nextag.com/imagefiles/rebrandmobile2015/fonts/Acronym-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Acronym";
  font-style: normal;
  font-weight: 200;
  src: url("//img05.static-nextag.com/imagefiles/rebrandmobile2015/fonts/Acronym-Ultralight.otf") format("opentype");
}

@font-face {
  font-family: "Acronym";
  font-style: normal;
  font-weight: 100;
  src: url("//img05.static-nextag.com/imagefiles/rebrandmobile2015/fonts/Acronym-Light.otf") format("opentype");
}

@font-face {
  font-family: "Acronym";
  font-style: normal;
  font-weight: normal;
  src: url("//img05.static-nextag.com/imagefiles/rebrandmobile2015/fonts/Acronym-Regular.otf") format("opentype");
}
.font-acronym-ligature{
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: no-common-ligatures;
}